<div class="container">
  <mat-toolbar>
    <span>Usuarios</span>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboard/crear-usuario">Agregar</button>
  </mat-toolbar>

  <div *ngIf="usersList.length > 0; else elseBlock">
    <mat-form-field>
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar.." #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
          <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="sexo">
          <th mat-header-cell *matHeaderCellDef> Sexo </th>
          <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
            <a class="pointer" style="color: #1878b0;" matTooltip="Ver usuario">
              <mat-icon>search</mat-icon>
            </a>
            <a class="pointer" style="color: #1f516f;" matTooltip="Editar usuario">
              <mat-icon>edit</mat-icon>
            </a>
            <a class="pointer" (click)="deleteUser(i)" style="color: #e15639;" matTooltip="Eliminar usuario">
              <mat-icon>delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>


  <ng-template #elseBlock>
    <h2>No hay usuarios para mostrar</h2>
  </ng-template>




</div>
